@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="panel panel-info" id="panel01">
    <div class="panel-heading">
        数据中心
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("~/Views/Manage/MenuBar.cshtml")
            </div>
            <div class="col-md-9" id="content_body">

            </div>
        </div>
    </div>
    <div class="panel-footer">
        &copy; GalaxyAPI.V01
    </div>
</div>

<style type="text/css">
    #panel01 {
        margin-top: 15px;
    }
</style>