<div class="panel panel-info" id="panel01">
    <div class="panel-heading">
        后台管理
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("MenuBar.cshtml")
            </div>
            <div class="col-md-9" id="content_body">

            </div>
        </div>
    </div>
    <div class="panel-footer">
        &copy; GalaxyAPI.V01
    </div>
</div>

<style type="text/css">
    #panel01 {
        margin-top: 15px;
    }
</style>

