
@{
    ViewData["Title"] = "Manage";
}

<h2>Manage</h2>
<table>
    <tr>
        <th>功能</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>设置菜单</td>
        <td><button id="setMenu"></button></td>
    </tr>
</table>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () { 
        $("#setMenu").click(function () { 
            $.ajax({
                url: "./SetMenu",
                type: "post",
                success: function (data) { 
                    alert(data);
                }
            });
        });
    });
</script>

